.work-container {
	width: 90%;
	position: relative;
	display: flex;
	justify-items: center;
	align-items: center;
	text-align: center;
	gap: 10px;
	padding: 2rem;
	transform: translate(-50%, 0%);
	top: 50%;
	left: 50%;
	min-width: 320px;
	margin: auto;
}
.project-container {
	overflow: scroll;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 640px;
	height: 495px;
	margin: auto;
	padding-bottom: 1.4rem 0 2rem;
	position: relative;
	margin-left: 1rem;
	width: 50%;
}
.project-heading {
	position: relative;
	box-sizing: border-box;
	min-width: 200px;
	max-width: 600px;
	width: 50%;
	text-align: center;
	min-width: 320px;
	padding: 4rem 0 2rem 0;
	width: 50%;
}
.project-card {
	position: relative;
	margin: 1rem 1rem 1rem 1rem;
	width: 270px;
	background: #1a1919;
	border: #1a1919;
	padding: 1.2rem 1rem;
}
.project-card img {
	width: 200px;
	height: 200px;
}

.project-title {
	height: 90px;
	color: #fff;
	padding: 1rem 0;
}
.pro-details p {
	padding-bottom: 1rem;
	font-size: 1.1rem;
	text-align: center;
}
.pro-btns {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0;
}
.pro-btns .btn {
	padding: 0.5rem 1.5rem;
}

.work-container p {
	font-size: 1.4rem;
	font-weight: 200;
}

@media screen and (max-width: 740px) {
	.project-container {
		max-width: 90%;
		margin: auto;
		grid-template-columns: 1fr;
	}
}
@media screen and (max-width: 1140px) {
	.work-container {
		width: 100%;
		flex-direction: column;
	}
	.project-container {
		margin: auto;
	}
	.project-heading {
		margin: auto;
	}
}

.btn {
	display: block;
	width: 80%;
	margin: 2rem auto;
}

.project-container::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

.project-container::-webkit-scrollbar-thumb {
	background-color: rgb(179, 179, 179); /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 3px solid rgb(6, 5, 2); /* creates padding around scroll thumb */
}
